.tvShows-btn {
  margin: 10px;;
  font-family: "HarryP", "Times New Roman", Times, serif;
  font-size: 30px;
  color: rgba(219, 210, 183, 0.76);
  padding: 10px 40px;
  background-color: rgba(67, 7, 206, 0.726);
  border-radius: 12px;
  border-color: (219, 210, 183, 0.76);
}

#add-tvShow {
  font-family: "HarryP", "Times New Roman", Times, serif;
  font-size: 30px;
  color: rgba(219, 210, 183, 0.76);
  padding: 5px 10px;
  background-color: rgba(67, 7, 206, 0.726);
  border-radius: 12px;
  border-color: (219, 210, 183, 0.76);
}

label {
    font-size: 30px;
}

h1 {
    font-size: 30px;
}